<div class="beanContainer" ng-controller="BeanCtrl">
<div class="container">
    <h1>
    {{bean.name}}
    </h1>
</div>

<section id="beanInfo" class="row">
    <div class="col-sm-12">
        <div class="text-center">
            <h2>{{bean.name}}: {{bean.price | currency:'$'}}/lb</h2> 
        </div>
            <p3><img src="{{bean.image}}">{{bean.description}}</p3>
    </div>
</section>

<section id="growerInfo" class="row">
    <div class="col-sm-12">
        <div class="text-center">
            <h2>Origin: {{bean.grower.name}}</h2> 
        </div>
            <p3><img src="{{bean.grower.image}}">{{bean.grower.description}}</p3>
    </div>
</section>

<section class="addToCart">
    <div class="col-med-12">
        <div ng-controller="BeanCtrl" class="text-center">
          <h3>Purchase Here:</h3>
          <form name="beanForm" class="form-horizontal" novalidate>
            <div class="form-group form-inline">
              <label for="grinds">Grind:</label>
              <select name="grind" id="grind" class="form-control" ng-model="cartObject.grind" ng-options="item for item in grinds">
              </select>
              <label for="quantity">Quantity(lb):</label>
              <select name="quantity" id="quantity" class="form-control" ng-model="cartObject.quantity" ng-options="item for item in quantities">
              </select>
            <button type="submit" class="btn btn-primary" ng-if="bean" ng-click="addToCart(bean.name, bean.price)">Add to Cart</button>
            </div>
          </form>
        </div>
    </div>
</section> <!-- end form section -->
</div>
