<div class="container">
    <h1>
    {{bean.name}}
    </h1>
</div>

<section id="beanInfo" class="row">
<div class="text-center" class="col-med-4"><h2>{{bean.name}}:<br> <small>{{bean.description}}</small></h2>
</div>
 
<div class="text-center" class="col-med-4">
    <img src="{{bean.image}}">
</div>

<!--
<div class="text-center" class="col-med-4"><p><small>{{bean.grower.name}}</small></p></div>

	<div>
		<dl>
			<dt>Price:</dt>
			<dd>{{bean.price | currency:'$':0}}</dd>
		</dl>
	</div>

	<div class="col-med-4"> 
        asdf
	</div>
-->
    
</section>
