<!--<div ng-controller="CoffeeCtlr">-->
<div>
    <br><h1>Your Cart</h1>
    <table class="table">
        <tr>
            <th>Bean</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
        <tr ng-repeat="object in cart">
            <td>{{object.bean}}</td>
            <td>
                <button class="btn btn-default" type="submit" id="upQ{{object.$id}}" ng-click="upQ(post.$id)"> &#11014; </button>
                {{object.quantity}}
                <button class="btn btn-default" type="submit" id="downQ{{object.$id}}" ng-click="downQ(object.$id)"> &#11015; </button>
            </td>
            <td>{{object.price | currency:'$'}}/lb</td>
        </tr>
    </table>
</div>
