<div class="container">
    <h1>
    Dawg Coffee<br>Orders
    </h1>
    <p>
    Coming soon...
    </p>
</div>

<div class="form-group">
        <!-- bind the search term to the controller -->
        <input type="text" name="search" placeholder="Search beans..." ng-model="query" class="form-control">
</div>

<div class="beanSelection">
    <table class="table">
			<tr>
                <th></th>
				<th>Beans</th>
				<th>Origin</th>
			</tr>
			<tr ng-repeat="bean in beans | orderBy:{{name}} | filter:searchQuery">
                <td><img src="{{track.artwork_url}}"></td>
				<td><a href="{{track.permalink_url}}">{{track.title}}</a></td>
				<td><a href="{{track.user.permalink_url}}">{{track.user.username}}</a></td>
				<td>{{track.created_at}}</td>
			</tr>
            </table>
</div>