<div class="container">
    <h1>
    Dawg Coffee<br>Orders
    </h1>
</div>

<div class="form-group">
        <!-- call method on click -->
        <label>Search beans: <input ng-model="searchText"></label>
      </div>

<div class="beanSelection">
    <table class="table">
			<tr>
                <th></th>
				<th>Beans (click for more info)</th>
				<th>Origin</th>
                <th>Price</th>
			</tr>
			<tr ng-repeat="bean in beans | orderBy:bean.name | filter:searchText">
                <td><img class="beanPic" src="{{bean.image}}"></td>
                <td><a class="beanLink" ui-sref="detail({id: bean.id})">{{bean.name}}</a></td>
				<td>{{bean.grower.name}}</td>
                <td>{{bean.price | currency:'$'}}/lb</td>
			</tr>
            </table>
</div>