<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>SoundCloud Search Assistant</title>
  
  <!-- bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="css/main.css"/>

  <!-- include libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="js/app.js"></script>

</head>
<body> 
  <div class="container" ng-app="myApp" ng-controller="MyCtrl"> <!-- specify app -->
    <form name="trackForm" ng-submit="submitForm(userForm.$valid)" novalidate>
      <div class="form-group">
          <h1>SoundCloud Search Assistant</h1>
<!--
          <label>Are you a dog or cat person?</label>
          <input type="text" name="title" id="title" class="form-control" required ng-minlength="3">
          <p ng-if="postForm.title.$invalid" class="help-block small">Response must be dog</p>
-->                     
      </div>
      <div class="form-group">
        <!-- bind the search term to the controller -->
        <input type="text" name="search" placeholder="SoundCloud search" ng-model="query" class="form-control" ng-minlength="2">
        <p ng-if="postForm.title.$invalid" class="help-block small">Song must be 2+ characters</p>
      </div>
      <div class="form-group">
        <!-- call method on click -->
        <button class="btn btn-primary" ng-click="getTracks()" type="submit">Submit</button>
      </div>
    </form>     
    <table class="table">
        <div ng-if="tracks"> <!-- only show results if we've done a search -->
<!--          <p>Tracks found:</p>-->
            <table class="table">
			<tr>
                <th></th>
				<th><a href="" ng-click="sortingCriteria='title'">Title</a></th>
				<th><a href="" ng-click="sortingCriteria='username '">User</a></th>
				<th><a href="" ng-click="sortingCriteria='!created_at'">Freshness</a></th>
			</tr>
			<tr ng-repeat="track in tracks | orderBy:sortingCriteria | filter:searchQuery">
                <td><img src="{{track.artwork_url}}"></td>
				<td><a href="{{track.permalink_url}}">{{track.title}}</a></td>
				<td><a href="{{track.user.permalink_url}}">{{track.user.username}}</a></td>
				<td>{{track.created_at}}</td>
			</tr>
            </table>

        </div>
        
    </table>
  </div> <!-- end container -->
</body>
</html>