@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);

body {
   font-family: Helvetica, sans-serif;
   font-weight: 300; 
   font-size: 16px;
   background-color: #E9EAEE;
}

#nathan {
    height: 250px;
}