@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);

body {
   font-family: Helvetica, sans-serif;
   font-weight: 300; 
   font-size: 16px;
   background-color: #f2f2f2;
}

p {
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
    text-justify: inter-word;
}

#nathan {
    height: auto;
    align-items: center;
    width: 100%;
}

#title {
    font-weight: bold;
}

#info h1{
    text-align: center;
}

#nathanReview {
    align-content: center;
}

@media (min-width: 992px){
    #nathan {
        width: 50%;
    }
}