@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);


body {
   font-family:Lato , Helvetica Neue,  Helvetica, sans-serif;
   font-weight: 300; 
   font-size: 16px;
   background-color: #E9EAEE;
}

.beanPic {
    width: 250px;
}

svg {
    height: 16px;
    fill: white;
    display: inline-block
    padding: 0.5em;
}

svg:hover {
    fill: #d87e28;
}

.nonlinkicon svg {
    fill: #d87e28;
}

.nonlinkicon h1 {
    color: #d87e28;
    text-transform: bold;
}

#menu dd {
    text-indent: 1em;
    font-style: italic;
}

.container {
    font-family:Raleway , Helvetica Neue, Helvetica, sans-serif;
    color: white;
    padding-top: 3em;
    padding-right: 2em;
    text-align: right;
    background-image: img/background-sm.jpg;
    min-height: 550px:
}

nav {
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    color: white;
    background-color: #181c22;
    padding-right: 0.5em;
}

.navlink {
    color: white;
    text-decoration: none;
    padding: 0.5em;
    font-variant: small-caps;
}

#cart {
    text-align: right;
}

.beanLink {
    color: black;
}

.nonlinkicon img {
    border-radius: 5px;
}

.navlink:visited {
    color: white;
    text-decoration: none;
}

.navlink:hover {
    color: #d87e28;
    fill: #d87e28;
    text-decoration: none;
}



li {
    display: inline-block;
    width: 100px;
    height: 16px;
    padding-right: 25px;
    padding-top: 10px;
}

#info {
    background-color: #dbdce3;
    text-align: center;
    border-radius: 5px;
}


#ourstory, footer {
    background-color: #dbdce3;
}

#ourstory img {
    float: right;
    max-height: 300px;
    margin-left: 1em;
}

#beanInfo img {
    float: right;
    max-width: 300px;
    margin-left: 1em;
    border-radius: 5px;
}

#growerInfo img {
    float: left;
    max-width: 300px;
    margin-right: 1em;
    border-radius: 5px;
}

footer {
    border-top-style: solid;
    border-top-width: 3px; 
    border-top-color: #d87e28;
    font-size: 12px;
    background-color: #afb3c2;
}

footer.p, footer.p2 {
    margin-top: 1em;
}

@media (max-width: 768px){
    p {
        display: none;
    }
    .logo {
        display: none;
    }
}

@media (min-width: 768px){
    body {
      font-size: 20px;
      background-color: white;
    }
    nav {
        color: white;
        background-color: rgba(24, 28, 34, 0.8);
    }
    
    .container {
        height: 550px;
        width: 100%;
        background-image: url(../img/background-sm.jpg);
        background-repeat: no-repeat;
        color: white;
        text-align: right;

    }
    
    .logo.svg{
        height: 1.5em;
        width: 100%;
        padding-bottom: 1em:
        fill: #d87e28;
    }
    
    p3 {
        padding-bottom: 3em;
        font-style: italic;
    }
    
    svg {
        height: 20px;
    }

    header p {
        display: inline;
    }

    #menu h1 {
        text-align: center;
    }
    
    .container2 {
        padding-top: 3em;
        text-align: center;
    }

    #ourstory img {
        max-height: 400px;
    }

    footer.p2 {
        text-align: right;
    }
    
}

@media (min-width: 992px){
    .container {
        background-image: url(../img/background-md.jpg);
        background-repeat: no-repeat;
    }
    #ourstory h1 {
        text-align: center;
    }
    footer {
        text-align: vertical;
    }
}

@media (min-width: 1200px){
    .container {
        background-image: url(../img/background-lg.jpg);
        background-repeat: no-repeat;
    }
}
